@use '@angular/material' as mat;

     $theme: mat.define-theme((
         color: (
             primary: mat.define-palette(mat.$indigo-palette),
             accent: mat.define-palette(mat.$pink-palette)
         )
     ));

     html, body {
         @include mat.all-component-themes($theme);
     }